@charset "UTF-8";

	.body {
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    color: #063853;
    text-align: justify;
    background-color: #E6EAEE;
    line-height: 40px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: x-large;
	}
		body {

    background-color: #E6EAEE;
   margin: 0px;
			
	   
	   
	}
	
	h1 {
    color: #e7ebee;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2.08px;
	}
	h2 {
    color: #1d9adf;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    line-height: 10px;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 40px;
    letter-spacing: 1.5px;		
	}
	h5 {
    color: #E6EAEE;
    text-align: center;
    font-size: 60%;
    padding-top: 0px;
    margin-top: -32px;
	}
	h6 {
    color: #E6EAEE;
    text-align: center;
    font-size: 40%;
    margin-top: -32px;
	}
	header {
    background-color: #003556;
    padding: 2%;
    word-spacing: 50%;
	
	}
	footer {
    color: #E6EAEE;
    line-height: 26px;
    background-color: #003C5A;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    font-size: small;
    text-align: center;		
		
	}
	img { 
		padding-left: 5%;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	a {
    color: #ffc100;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    
}
	a:hover {
		color: #FFBE00;
	}
 blockquote {
    font-size: 25px;
    width: 800px;
    border-left: 8px solid #FFBE00;
    padding-left: 20px;
    line-height: 30px;
    font-style: italic;	 
       

  }
.button a{
  display: inline-block;
  border-radius:100px;
  background-color: #009DE5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20PX;
  padding: 10px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

	.button a:hover {
		background-color: #FFBE00;
	}
	.center {
  display: flex;
  justify-content: center;
  align-items: center;
		padding: 20px;
}
	.left {
		float: left;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
	}
	.right {
		float: right;
		padding-right: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 30px;
	}
	
.nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #009DE5;
  position: fixed;
  top: 0;
  width: 100%;

}
	
	.nav ul {
  list-style-type: none;
  margin: 100px;
  padding: 0;
  overflow: hidden;
  background-color: #009DE5;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


	.nav li a:hover{
		color: #003955;
	}

.active {
  background-color: #FFBE00;
}
